<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="/images/bt.jpg" alt="" /></span>
					<h1 id="logo"><a href="#">TaFii</a></h1>
					<p>Xin chào User, chào mừng đến với trang web chứa những bài viết thú dị</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="/auth/login" >Login</a></li>
						<li><a href="/auth/register">Register</a></li>
						<li><a href="/posts/create">Create Post</a></li>
						<li><a href="/posts/wall">My Post</a></li>
						<li><a href="/posts">Exit Home</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>