
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="cr">
        <div class="image main" data-position="center">
          <img src="/images/ech.jpg" alt="" />
        </div>
        <div class="container" style="width: 70%;">
          <header class="major">
            <h2>Login User</h2>
            <p>Hello my user, come read my and your posts
            </p>
          </header>
          <div class="container mt-3">
            <form action="/auth/login" method="post">
                
                <div class="mb-3">
                <label for="image" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                <label for="date" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                <input class="primary" type="submit" style="margin-top: 15px; " value="Login">
            </form>
            </div>
      </section>

      <!-- Two -->

      <!-- Three -->

      <!-- Four -->

    </div>

  </div>

</body>