<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="cr">
        <div class="image main" data-position="center">
          <img src="/images/ech.jpg" alt="" />
        </div>
        <div class="container" style="width: 70%;">
          <header class="major">
            <h2>Update Post</h2>
            <p>Update your post 
            </p>
          </header>
          <div class="container mt-3">
            <form action="/store" method="post">
              <div class="mb-3">
                <label for="title" class="form-label" aria-required="true">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                />
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input
                  type="text"
                  class="form-control"
                  id="image"
                  name="image"
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <input
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                />
              </div>
              <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="text" class="form-control" id="date" name="date" />
              </div> 
              <br>
              <div class="mb-3">
                <input class="primary" type="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- Two -->

      <!-- Three -->

      <!-- Four -->

    </div>

  </div>

</body>